html{
  height: 100%;
}



#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}



/*
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;*/

/* Home Page part */
#Home, #Setting, #Camera{
    background-color: white;
    height: 100vh;

}
#Home h2, p{
    color: darkcyan;
    font-size: 100%;
}

#camera p{
  padding-top: 50px;
}

/* Logo style */
#Home img, #Setting img{
    width: 30%;
    margin-bottom: 60px;
    margin-top: 30px;
}

/* Send to center */
#Home .container, #Setting .container, #Camera .container{
    background-color: white;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50);
}

#Home #homeBtn{
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.rectangle {
  padding-top: 56.25%;
  background-color: #555;
}

/* All pages btn style */
#Home .btn, #Setting .btn{
    border: 3px solid darkcyan;
    background-color: white;
    color:darkcyan;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 40px;
}

  #Setting i, #Camera i{
    font-size: 40px;
    color:gray;
    padding-top: 50px;
    padding-bottom: 20px;
}
  
  /*  Btn Hover Green */
  #Home .optionBtn, #Setting .optionBtn {
    border-color: darkcyan;
    color: darkcyan;
}
  #Home .optionBtn:hover, #Setting .optionBtn:hover {
    background-color: darkcyan;
    color: white;
}
  /* Setting Page */
  #Setting h1{
      font-size: 30px;
      color: darkcyan;
}

  #Setting label{
      font-size: 25px;;
}

  #Setting label.custom-control-label{
    font-size: 20px;;
    color: darkcyan;
}

  #Setting #settingForm{
    padding: 10px 20px;
}

  #Setting #settingForm h4{
    font-size:  20px;
    color: black;
  }

  /* chatbot */
  #chatbot .container-fluid{
    background-color:#dee1e2 ;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #chatbot h1{
    color:white;
    font-size: 30px;
  }

  #chatbot #header{
    background-color: darkcyan;
    height: 60px;
    justify-content: center;
    align-items: center;
  }

  #chatbot #header i{
    font-size: 30px;
    color:white;
}

  #chatbot p{
    color: black;
    font-size: 100%;
}

#chatbot .panel-footer i{
  font-size: 30px;
  color:#a7a7a7;
}

#chatbot .panel-footer{
  background-color: #dee1e2;
  height: 80px;
  justify-content: center;
  align-items: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  
}

#content-wrap {
  padding-bottom: 4rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;            /* Footer height */
  justify-content: center;
  align-items: center;
}

#footer .btn{
  background-color: #dee1e2;
  border-color: #dee1e2;
  cursor: pointer;
  color: darkcyan;
}






